*{
	margin: 0;
	padding: 0;						
	-webkit-box-sizing: border-box;	 /*le da formato a la pagina */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	  
} 
header#header{
	background-color:0;
	margin-left:10px;
	margin-right:10px;
}
body{
	background-color:black;
	background-image: url("/janluy-moreno/clientes web/REAL AMISTADfull/IMG/ESCUDO-REAL-AMISTAD.png");
	background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
div#general{
	position:relative;
	margin:auto;
	margin-top:0px;			/*espacio que se le da para el submemenú*/
	width:100%;
	height:375px;
	background-color:0;
	text-align:center;
	color:lightblue;
	border-width:1px solid #fff;
}
div#fondo-integrantes{
	position:relative;
	margin:auto;
	width:100%;
	height:100%;
	background-image: url("/janluy-moreno/clientes web/REAL AMISTADfull/IMG/ESCUDO-ORIGINAL-FONDO-BLANCO.PNG");
	background-color:white;
	
}
h1{
	font-family:COMIC SANS MS;
	font-size:50px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	text-decoration:underline;
	color:#41A569;				/*color original de la imagen escudo#41A569*/
}
h5{
	font-family:COMIC SANS MS;
	font-size:50px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	text-decoration:underline;
	color:black;				/*color original de la imagen escudo#41A569*/
}
h2{
	font-family:comic sans ms;
	font-size:35px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	color:#41A569;
}
h3{
	font-family:comic sans ms;
	font-size:35px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	color:black;
}
h4{
	font-family:COMIC SANS MS;
	font-size:35px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	color:#41A569;
}
h6{
	font-family:COMIC SANS MS;
	font-size:35px;
	font-style:italic;
	font-weight:bold;
	text-align:center;
	color:black;

}
.form-horizontal h4{
  color:#41A569;			/*#fff*/
  text-shadow:5px 5px 5px  #fff;		/*sombra de la ltra del titulo de la pagina*/
}
.form-horizontal h1{
  color:#41A569;			/*#fff*/
  text-shadow:5px 5px 5px  #fff;		/*sombra de la ltra del titulo de la pagina*/
}
.navegacion{
	
		width: 1050px;
		margin: 10px auto;
		background: 0;			/*lightblue*/
	
}
.navegacion ul{
	list-style: fixed;
	
}
.menu > li{
	position: relative; 
	display: inline-block;
	
}
.menu > li a{
	display: block;
	padding: 25px 15px;
	color: white;			/* color inicial del menu superior*/
	font-family: "verdana";
	text-decoration: none;

}
.menu > li a:hover{
	color:#41A569; /*#CE7D35 color de la letra al estar el mause encima*/

}
.margen{
	position:relaitive;
	background:0;
	margin-top:1px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	color:#41A569;
}

